/bitrix/
/bower_components/
upload/
*.txt
/test/
/include/counter.php
/include/vk.php
.idea/
node_modules/
.vagrant/
*test*.*
sitemap*.*
google*.*
yandex*.*
urlrewrite.php
web.config
composer.phar
/local/php_interface/lib/
*composer*.*
.htaccess