/bitrix/
/.idea/
/.vagrant/
/bower_components/
/include/counter.php
/include/vk.php
/local/php_interface/lib/
/node_modules/
/test/
/upload/
*test*.*
sitemap*.*
google*.*
yandex*.*
urlrewrite.php
web.config
composer.phar
*composer*.*
.htaccess
sitemap*.*
*test*.*
*.pdf
*.djvu
*.doc*
*.xls*
*.avi
*.mov
*.wav
*.ppt*
*.mp4
*.flv
*.xml
*.zip
*.rar
*.7z
*.tar.gz
*.tar
*.aspx
*.txt
