Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_php5.c>
  php_flag allow_call_time_pass_reference 1
  php_flag session.use_trans_sid off

  #php_value display_errors 1

  php_value mbstring.func_overload 2
  php_value mbstring.internal_encoding UTF-8
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On

  RewriteCond %{HTTP_HOST} ^www.ydmitry\.ru$ [NC]
  RewriteRule ^(.*)$ https://ydmitry.ru/$1 [R=301,L]

  RewriteCond %{HTTP_HOST} ^ydmitriy\.ru$ [NC]
  RewriteRule ^(.*)$ https://ydmitry.ru/$1 [R=301,L]

  RewriteCond %{HTTP_HOST} ^www.ydmitriy\.ru$ [NC]
  RewriteRule ^(.*)$ https://ydmitry.ru/$1 [R=301,L]

  RewriteCond %{HTTP_HOST} ^ydmy\.ru$ [NC]
  RewriteRule ^(.*)$ https://ydmitry.ru/$1 [R=301,L]

  RewriteCond %{HTTP_HOST} ^www.ydmy\.ru$ [NC]
  RewriteRule ^(.*)$ https://ydmitry.ru/$1 [R=301,L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

php_value max_input_vars 10000

#   Сжатие
<ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>

#   Кэш
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 10 month"

    # Images
    ExpiresByType image/gif                 "access plus 1 years"
    ExpiresByType image/png                 "access plus 1 years"
    ExpiresByType image/jpg                 "access plus 1 years"
    ExpiresByType image/jpeg                "access plus 1 years"

    # CSS, JavaScript
    ExpiresByType text/css                  "access plus 1 years"
    ExpiresByType application/javascript    "access plus 1 years"
    ExpiresByType text/javascript           "access plus 1 years"

    <FilesMatch "\.(html|htm)$">
          Header set Cache-Control "max-age=43200"
      </FilesMatch>
      # Все css, javascript и текстовые файлы будут храниться в кэше браузера одну неделю
      <FilesMatch "\.(js|css|txt)$">
          Header set Cache-Control "max-age=604800"
      </FilesMatch>
      # Все флэш файлы и изображения будут храниться в кэше браузера один месяц
      <FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png)$">
          Header set Cache-Control "max-age=2592000"
      </FilesMatch>
      # Отключаем кеширование php и других служебных файлов
      <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
          Header unset Cache-Control
      </FilesMatch>
</IfModule>

<IfModule mod_headers.c>
    Header unset ETag
</IfModule>
FileETag None

#RewriteCond %{REQUEST_URI} (.*)
#RewriteRule ^(.*)$ http://ydmitry.ru/$1 [L,R=301]