body {
    margin: 0;
    padding: 0;
    font-family: Georgia,Times,"Times New Roman",serif;
    line-height: 1.5;
    color: #515151;
}

a {
    text-decoration: none;
    color: #515151;
}

a:hover {
    background: #EFF7FD;
    color: rgba(70, 148, 214, 0.91);
}

.img_block {
    text-align: center;
    margin: 0;
    max-width: 130px;
    height: auto;
}

div.input {
    position: relative;
}

div.inline {
    display: inline-block;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

blockquote {
    border-left: 0.2em solid #428BCA;
    padding: 0 0 0 1rem;
    color: #303030;
}

/*Поиск*/
#search_form {
    padding: 0 !important;
}

#search_form input[type=search] {
    margin: 0;
    background: #202020;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #fff;
    font-size: 1.25rem;
    width: 100%;
}

#search_form input[type=search]:focus {
    outline: none;
}

/*  Ссылка на RSS канал */
div.rss a {
    color: #fff;
}

/*  Разноцветные выделения ссылок   */
.github:hover {
    color: #9B59B6 !important;
    background: none !important;
}

.vk:hover {
    color: #4C75A3 !important;
    background: none !important;
}

.instagram:hover {
    color: #8E7253 !important;
    background: none !important;
}

.twitter:hover {
    color: #55ACEE !important;
    background: none !important;
}

div.rss a:hover {
    color: #ffa324;
    background: none;
}

a.back-url {
    font-family: "brandon-grotesque","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10pt;
    float: left;
    display: block;
    padding: 1px 7px;
    border: 1px solid #eee;
    margin: 0 1rem 0 0;
}

a.back-url:hover {
    background: #428BCA;
    color: #fff;
}

h1, h2, h3, h4 {
    margin: 2rem 0 0 0;
}

table.badges {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
}

table.badges tr {
    margin-top: 5px;
}

/*Под большие мониторы*/
@media screen and (min-width: 1600px)
{
    div#header {
        background: #428BCA url("../.default/img/background-large.png") repeat-y center top;
    }

    div#menu {
        width: 18rem;
        height: 100%;
        min-height: 5%;
        background: #202020;
        right: 0 !important;
        left: auto;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        color: #fff;
        z-index: 100;
    }

    span.button {
        display: none;
    }

    div#workarea {
        right: 10rem;
    }
}

.clear {
    clear: both;
}

/*Под средние мониторы*/
@media screen and (min-width: 600px)
{
    #header {
        background: #428BCA url("../.default/img/background-medium.png") no-repeat center top;
        width: 100%;
        height: 60pt;
        min-height: 60pt;
        margin: 0;
        padding: 10pt 0 0 0;
    }

    #workarea {
        width: 100%;
        position: relative;
    }

    /*Хедер*/
    h3.name {
        color: #fff;
        font-size: 2rem;
        line-height: 1;
        text-align: center;
        margin: 0;
    }

    h3.name a{
        color: #fff;
        text-decoration: none;
        padding: 0.4em 0 0.4em 0;
    }

    h3.name a:hover {
        opacity: 0.80;
        background: none;
    }

    /*Профессия*/
    span.profession {
        font-family: Georgia,Times,"Times New Roman",serif;
        font-weight: 100;
        font-style: italic;
        text-transform: none;
    }

/*Кнопка-бифштекс для меню*/
    span.button {
        cursor: pointer;
        position: fixed;
        right: 2rem;
        top: 1.5rem;
        color: #515151;
        font-size: 3rem;
    }

    span.button:hover {
        color: #000;
    }

    /*Меню*/
    div#menu {
        width: 18rem;
        height: 100%;
        min-height: 5%;
        background: #202020;
        right: -18rem;
        left: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        color: #fff;
    }

    div#menu a.menu_link {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        display: block;
        border-top: 1px solid rgba(255,255,255,0.1);
        border-bottom: 1px solid #171717;
        padding: 1em 0 1em 2.5em;
    }

    div#menu a.menu_link:last-of-type {
        border-bottom: none;
    }

    div#menu a.menu_link:first-of-type {
        border-top: none;
    }

    div#menu a.menu_link:hover {
        background: #353535;
    }

    div#menu div.menu-inner {
        padding: 2em;
        font-size: 1.2rem;
    }
    /*Контент*/
    div#content {
        width: 90%;
        margin-bottom: 2em;
        max-width: 38rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.25rem;
        text-align: left;
        min-width: 60%;
    }

    div.post h1 {
        margin: 1rem 0 0 0;
    }

    div.post {
        text-align: center;
    }

    p.post_date {
        margin: 0 0 1rem 0;
        font-family: Georgia,Times,"Times New Roman",serif;
        font-weight: 200;
        font-style: italic;
        text-transform: none;
        color: #515151;
        font-size: 1.5em;
    }
    /*Навигация*/
    div#pages {
        margin: 3rem 10rem 3rem 10rem;
        overflow: hidden;
        color: #ccc;
        text-align: center;
        display: flex;
    }
    .pages_item {
        float: left;
        width: 50%;
        display: block;
        padding: 1rem;
        border: 1px solid #eee;
        font-family: "brandon-grotesque","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }
    a.pages_item {
        color: #428BCA;
    }
    a.pages_item:hover {
        background: #428BCA;
        color: #fff;
    }

    span.pages_item {
        color: #ccc;
    }

    /*Стандартная страница*/

    .img-left {
        float: left;
        margin: 1rem 3rem 0 0;
    }

    div#text div {
        font-size: 1.25rem;
        font-weight: 300;
        padding: 1rem 0 1rem 0;
        line-height: 1.5;
        color: #787878;
    }

    div#text h2 {
        padding-top: 1.5rem;
    }

    div#text b {
        color: #515151;
    }

    div#text a {
        color: rgba(70, 148, 214, 0.91);
    }
    div#text a:hover {
        background: #EFF7FD;
    }

    div#text code {
        color: #CF8C92;
        background: #F9F9F9;
    }

    div#text pre {
        padding: 2rem;
        /*background: #F9F9F9;*/
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    div#text ul,ol,dl {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }

    img {
        display: block;
        max-width: 100%;
        margin: 1rem auto 1rem;
        height: auto;
    }

    div#social {
        color: #bfbfbf;
        padding-bottom: 0 !important;
        margin: 0;
    }

    div#social a {
        color: #fff;
    }

    div#social a:hover {
        background: #262626;
    }
}


/*Маленькие экраны*/
@media screen and (max-width: 600px)
{
    #header {
        background: #428BCA url("../.default/img/background-small.png") no-repeat center top;
        width: 100%;
        height: 60pt;
        min-height: 60pt;
        margin: 0;
        padding: 10pt 0 0 0;
    }

    #workarea {
        width: 100%;
        position: relative;
    }
    /*Хедер*/
    h3.name {
        color: #fff;
        font-size: 2rem;
        line-height: 1;
        text-align: center;
        margin: 0;
    }

    h3.name a{
        color: #fff;
        text-decoration: none;
        padding: 0.4em 0 0.4em 0;
    }

    h3.name a:hover {
        opacity: 0.80;
        background: none;
    }

    /*Профессия*/
    span.profession {
        font-family: Georgia,Times,"Times New Roman",serif;
        font-weight: 100;
        font-style: italic;
        text-transform: none;
    }

    span.button {
        cursor: pointer;
        position: fixed;
        right: 2rem;
        top: 1.5rem;
        color: #515151;
        font-size: 3rem;
    }

    span.button:hover {
        color: #000;
    }

    /*Меню*/
    div#menu {
        width: 18rem;
        height: 100%;
        min-height: 5%;
        background: #202020;
        right: -18rem;
        left: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        color: #fff;
    }

    div#menu a.menu_link {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        display: block;
        border-top: 1px solid rgba(255,255,255,0.1);
        padding: 1em 2em 1em 2em;
        font-size: 1.4em;
    }

    div#menu a.menu_link:hover {
        background: #353535;
    }

    div#menu div.menu-inner {
        padding: 2em 2em 2em 2em;
        font-size: 1.2rem;
    }
    /*Контент*/
    div#content {
        width: 90%;
        margin-bottom: 2em;
        max-width: 38rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    div.post h1 {
        margin: 1rem 0 0 0;
        font-size: 1.5em;
    }

    div.post {
        text-align: center;
    }

    p.post_date {
        margin: 0 0 1rem 0;
        font-family: Georgia,Times,"Times New Roman",serif;
        font-weight: 200;
        font-style: italic;
        text-transform: none;
        color: #515151;
        font-size: 1.25em;
    }
    /*Навигация*/
    div#pages {
        margin: 3rem 0 3rem 0;
        color: #ccc;
        text-align: center;
        display: block;
    }
    .pages_item {
        width: 90%;
        display: block;
        padding: 1rem;
        border: 1px solid #eee;
        font-family: "brandon-grotesque","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }
    a.pages_item {
        color: #428BCA;
    }
    a.pages_item:hover {
        background: #428BCA;
        color: #fff;
    }

    span.pages_item {
        color: #ccc;
    }

    /*Стандартная страница*/
    div#text div {
        font-size: 1.25rem;
        font-weight: 300;
        padding: 1rem 0 1rem 0;
        line-height: 1.5;
        color: #787878;
    }

    div#text h2 {
        padding-top: 1.5rem;
    }

    div#text b {
        color: #515151;
    }

    div#text a {
        color: rgba(70, 148, 214, 0.91);
    }
    div#text a:hover {
        background: #EFF7FD;
    }

    div#text code {
        color: #CF8C92;
        background: #F9F9F9;
    }

    div#text pre {
        padding: 2rem;
        word-wrap: break-word;
    }

    div#text ul,ol,dl {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }

    img {
        display: block;
        max-width: 100%;
        margin: 0 auto 2rem;
        height: auto;
    }

    div#social {
        color: #bfbfbf;
        padding: 0;
        margin: 0;
    }

    div#social a {
        color: #fff;
    }

    div#social a:hover {
        background: #262626;
    }
}

@media print {
    #header {
        display: none;
    }

    #workarea {
        width: 100%;
        position: relative;
    }

    /*Меню*/
    div#menu {
        display: none;
    }

    #header * {
        display: none;
    }

    div#menu div.menu-inner {
        display: none;
    }

    div.post h1 {
        margin: 1rem 0 0 0;
        font-size: 1.5em;
    }

    div#text div {
        font-size: 1.25rem;
        font-weight: 300;
        padding: 0 0 0.5rem 0;
        line-height: 1.5;
        color: #787878;
    }

    div#text h2 {
        padding-top: 0.5rem;
    }

    div#text b {
        color: #515151;
    }

    div#text a {
        color: rgba(70, 148, 214, 0.91);
    }

    div#text code {
        color: #CF8C92;
        background: #F9F9F9;
    }

    div#text pre {
        padding: 2rem;
        word-wrap: break-word;
    }

    div#text ul,ol,dl {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }

    img {
        display: block;
        max-width: 100%;
        margin: 0 auto 2rem;
        height: auto;
    }
}